@charset "UTF-8";

*{padding: 0; margin: 0; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;; font-size: 14px; }

.clearfix {
	width: 100%;
	background-color: #E5E5E5;
}
.login-form {
	width: 40%;
	margin: auto;
}
input {
	width: 200px;
	border-radius: 3px;
	height: 20px;	
}
label {
	font-weight: bold;
	color: blue;
}
h3 {
	font-size: 20px;
	padding: 20px;
}