body{padding-top:30px;}

.div-margin {
	margin: auto; 
	border-radius: 5px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
	margin-top: 10px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	display: none;
}

.point {
	font-size: 15px;
	color: red;
}